*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;

  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

a {
text-decoration: none;
}

.container{
  margin: 0 auto;
  padding: 0 auto;

  width: 1024px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  min-height: 95px;
  width: 1024px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo a{
  margin-left: 2px;
  margin-top: 3px;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 6px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.logo-red-text{
  color: #f06c64;
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 8px;

  min-width: 374px;

  font-size: 12px;
  font-weight: 700;
  line-height: 6px;
  text-transform: uppercase;
  letter-spacing: -0.1px;

  list-style: none;
}

.site-navigation a{
  color: white;
}

.active-page a{
  color: #f06c64;
}

.site-navigation a:hover,
.site-navigation a:focus {
  text-decoration: underline;
}

.site-navigation li:nth-child(2n) {
  color: #494e62;
}

/*slider*/

.slider{
  height: 600px;
  box-sizing: border-box;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}


.slider-button-back,
.slider-button-next {

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.slider-button-back{
  position: absolute;
  margin-top: 281px;
  margin-left: 44px;
}

.slider-button-next{
  position: absolute;
  margin-top: 278px;
  margin-left: 966px;
}

.slider-button-next{
  transform: rotate(180deg);
}


.button-image:hover {
  transform: scale(1.1);
}

.slider-content{
  position: absolute;
  margin-left: 110px;
  width: 100%;
}

.iphone_vertical {
  margin-left: 4px;
  margin-top: 53px;
}

.iphone_horizontal {
  margin-left: 71px;
  margin-bottom: 122px;
}

/*services*/

.our-services{
  padding-left: 42px;
  padding-right: 41px;
  padding-top: 64px;
  height: 430px;

  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
}

.sevices-title{
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.1px;
}

.services-description{
  margin-top: 28px;

  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #767e9e;
  letter-spacing: -0.05px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;

  list-style: none;
}

.services-item{
  margin-bottom: 32px;

  color: #767e9e ;
  width: 300px;
  height: 90px;
}


.item-title{ 
  margin-left: 80px;
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
}

.item-content {
  margin-top: 7px;
  margin-left: 80px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #767e9e;
  text-align: justify;
}

.item-image {
  position: absolute;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

